body,html{
  margin:0;
  font-family: 'Georgia' serif;
  color:#363636;
  height:auto;
  background-color:rgb(255, 255, 255);
  
}

header{
  background-color:rgb(255, 255, 255);
  padding-left:15px;
  padding-right:15px;
  padding-bottom:45px;
}

.h0{
  font-weight:600;
  height:auto;
  color:rgba(51, 51, 50,0.85);
  letter-spacing:5px;
}

/*.h0:hover{*/
  /*color:rgba(51, 51, 50,0.85);*/
  /*text-shadow: 2px 1px 5px;*/
/*}*/

.subh0{
  font-size:25px;
  margin-top:25px;
  font-style:italic;
  letter-spacing:4px;
  margin-left:10px;
}

.f1{
  background:url('http://www.dvdyourmemories.com/wp-content/uploads/2009/12/Vinyl_record_LP_10inch.jpg');  
}

#main{
}


#whoami{
  /*background-color:rgba(87,182,138,0.6);*/
  background-color:rgb(250, 250, 250);
  border-bottom:3px rgba(36,36,36,0.7) solid;
  border-top:3px rgba(36,36,36,0.7)  solid;
  
  text-align:center;
  height: 180px;
  line-height: 180px; 
  padding:0; 
  box-shadow:rgba(36, 36, 36, 1) 0px 0px 4px
}

#whoami:hover{  

}
#whoami a{
  padding:10px;
  text-decoration:none;
  color:#363636;
  margin-left:20px;
  margin-right:20px;
  font-weight:600;
  font-style:italic;
  opacity:.3;
  font-size:20px;
}

#whoami a:hover{
  opacity:0.8;
  -webkit-transition:opacity .35s   ease-in;
  background-color:silver;
}

#colophon{
  text-align:center;
}

#colophon h1{
  font-size:58px;
  font-style:italic;
  letter-spacing:3px;
  text-shadow:whitesmoke 0px 2px 0px;
}

#moi{

}

#moi h1{
  text-align:center;
  margin-top:100px;
}


#moi #bio{
  width:650px;
  margin:0 auto;
  margin-top:30px;
  text-align:justify;
  letter-spacing:1px;
  font-size:18px;
  line-height:29px;

  margin-bottom:22px;
}
footer img{
  display:block;
  margin:0 auto;
  margin-top:45px;
  opacity:0.8;
}

footer img:hover{
  opacity:0.25;
}

#moi a{
  color: rgba(36,36,36,0.8);
}

#moi a:hover{
  color:rgba(36, 36, 36, 0.4);
}

#social{
  margin-top:10px;
  float:right;
  margin-right:5px;
}
#social ul{
  list-style:none;
  margin:0;
  padding:0;
}
#social ul li{
  display:inline-block;
}

#social ul li a img{
  height:35px;
  margin-left:7px;
  margin-right:7px;
}

#social ul li a:hover{
  opacity:0.65;
}

#project_list{
  list-style:none;
  width:665px;
  margin:0 auto;
  padding:0;
}

#project_list li{
  color:rgba(51, 51, 50,0.85);
  background-color: rgba(221, 221, 221,0.2);
  width:635px;
  height:108px;
  padding:15px;
  margin-top:25px;
  margin-bottom:25px;
  border-radius:4px;
  border:1px solid rgb(225, 225, 225);
}

#project_list li p{
  text-align:justify;
  line-height:20px;
}


#project_list li:hover{
  background-color: rgba(221, 221, 221,0.4);
  box-shadow:inset rgba(210,210,210, .2) 0px 0px 5px
  
}

#project_list li .date{
  float:right;
}

#project_list li h2{
  font-size:24px;
  font-weight:200;
  letter-spacing:3px;
  text-transform:uppercase;
  display:inline-block;
  margin:0;
}

#project_list li h2:hover{
  text-decoration:underline;
  
}

#project_list a{
  color:rgba(51, 51, 50,0.85);
  text-decoration:none;
}

#project_list a:hover{
  text-decoration:underline;
}
